<!DOCTYPE html>
<html lang="en">

{{> head}}
<head>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="icon" href="/img/favicon.png">
</head>

<body>
    <h1>Welcome to SysTick</h1>
    <div class="admin-div">
        <table class="admin-table">
            <thead class="table-head">
                <th>Ticket N°</th>
                <th>Asunto</th>
                <th>Nombre</th>
                <th>Telefono</th>
                <th>Mail</th>
                <th>Descripcion</th>
                <th>Estado</th>
            </thead>

            <tbody class="table-body">
                <tr>
                    <td>{{ticket.ticket}}</td>
                    <td>{{ticket.asunto}}</td>
                    <td>{{ticket.nombre}}</td>
                    <td>{{ticket.telefono}}</td>
                    <td>{{ticket.email}}</td>
                    <td>{{ticket.descripcion}}</td>
                    <td id="estado" style="text-transform:uppercase;">{{ticket.estado}}</td>
                    <script>
                        var estado = document.getElementById("estado");
                        if(estado.textContent === "abierto") estado.style.color = "#ff000080"//red
                        if(estado.textContent === "cerrado") estado.style.color = "#002e00b3"//green
                        if(estado.textContent === "cancelado") estado.style.color = "#ffff0080"//yellow
                    </script>
                </tr>
            </tbody>
        </table>
        <div class="botones">
            <button data-id="{{ticket.id}}" id="btn_res" class="btn-res">RESOLVER</button>
            <button data-id="{{ticket.id}}" id="btn_cls" class="btn-cls">CANCELAR</button>
        </div>

        <script>
            function displayForm(form){
                var confirmForm = document.querySelector(form);
                if (confirmForm.style.display === "flex") {
                    confirmForm.style.display = "none";
                } else {
                    confirmForm.style.display = "flex";
                }
            }

            const resolveButton = document.getElementById("btn_res");
            resolveButton.addEventListener('click', function() {
                displayForm("#resolve_form");
            })

            const cancelButton = document.getElementById("btn_cls");
            cancelButton.addEventListener('click', function() {
                displayForm("#cancel_form");
            })
        </script>

        <form action="/admin/estado" method="post" id="resolve_form">
            Resolver Ticket?
            <textarea name="observaciones" id="obs" placeholder="Observaciones"></textarea>
            <input type="text" name="id" style="display: none;" value="{{ticket.id}}">
            <input type="text" name="estado" style="display: none;" value="cerrado">

            <button type="button" onclick="displayForm('#resolve_form')">CANCELAR</button>
            <button type="submit">ENVIAR</button>
        </form>

        <form action="/admin/estado" method="post" id="cancel_form">
            Cerrar Ticket?
            <textarea name="observaciones" id="obs" placeholder="Observaciones"></textarea>
            <input type="text" name="id" style="display: none;" value="{{ticket.id}}">
            <input type="text" name="estado" style="display: none;" value="cancelado">

            <button type="button" onclick="displayForm('#cancel_form')">CANCELAR</button>
            <button type="submit">ENVIAR</button>
        </form>

    </div>
    <div class="back">
        <a href="/admin"><i class="fa-solid fa-left-long"></i><strong>VOLVER</strong></a>
    </div>
</body>
</html>