<!DOCTYPE html>
<html lang="en">

{{> head}}
<head>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="icon" href="../img/favicon.png">
</head>

<body>
    <h1>Welcome to TikSys</h1>
    <div class="admin-div">
        <table class="admin-table">
                    <table class="admin-table">
            <tr>
                <th>Ticket N°</th>
                <td>{{ticket.ticket}}</td>
            </tr>
            <tr>
                <th>Asunto</th>
                <td>{{ticket.asunto}}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ticket.nombre}}</td>
            </tr>
            <tr>
                <th>Telefono</th>
                <td>{{ticket.telefono}}</td>
            </tr>
            <tr>
                <th>Mail</th>
                <td>{{ticket.email}}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ticket.descripcion}}</td>
            </tr>
            <tr id="obs">
                <th>Observaciones</th>
                <td id="tkt_obs">{{ticket.observaciones}}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td id="estado" style="text-transform:uppercase;">{{ticket.estado}}</td>
            </tr>
            <script>
                // deja de mostrar Observaciones si esta vacia
                var obs = document.getElementById("obs");
                var tktObs = document.getElementById("tkt_obs");
                if(tktObs.textContent === "") {
                    console.log("asdf")
                    obs.style.display = "none"
                }

                // seleccion de color del ESTADO
                var estado = document.getElementById("estado");
                if(estado.textContent === "abierto") estado.style.color = "#ff000080"//red
                if(estado.textContent === "cerrado") estado.style.color = "#002e00b3"//green
                if(estado.textContent === "anulado") estado.style.color = "#ffff0080"//yellow
            </script>
        </table>



            {{!-- 
            <thead class="table-head">
                <th>Ticket N°</th>
                <th>Asunto</th>
                <th>Nombre</th>
                <th>Telefono</th>
                <th>Mail</th>
                <th>Descripcion</th>
                <th>Estado</th>
            </thead>

            <tbody class="table-body">
                <tr>
                    <td>{{ticket.ticket}}</td>
                    <td>{{ticket.asunto}}</td>
                    <td>{{ticket.nombre}}</td>
                    <td>{{ticket.telefono}}</td>
                    <td>{{ticket.email}}</td>
                    <td>{{ticket.descripcion}}</td>
                    <td id="estado" style="text-transform:uppercase;">{{ticket.estado}}</td>
                    <script>
                        var estado = document.getElementById("estado");
                        if(estado.textContent === "abierto") estado.style.color = "#ff000080"//red
                        if(estado.textContent === "cerrado") estado.style.color = "#002e00b3"//green
                        if(estado.textContent === "cancelado") estado.style.color = "#ffff0080"//yellow
                    </script>
                </tr>
            </tbody> 
            --}}
        </table>
    </div>
    <div class="back">
        <a href="/"><i class="fa-solid fa-left-long"></i><strong>VOLVER</strong></a>
    </div>
</body>
</html>