<!DOCTYPE html>
<html lang="en">

{{> head}}

<body>
    <h1>Welcome to SysTick</h1>
    <div class="admin-div">
        <table class="admin-table">
            <thead class="table-head">
                <th>Ticket N°</th>
                <th>Asunto</th>
                <th>Nombre</th>
                {{!-- <th>Telefono</th> --}}
                {{!-- <th>Mail</th> --}}
                <th>Estado</th>
            </thead>

            <tbody class="table-body">
                {{#each tickets}}
                <tr>
                    <td>{{this.ticket}}</td>
                    <td>{{this.asunto}}</td>
                    <td>{{this.nombre}}</td>
                    {{!-- <td>{{this.telefono}}</td> --}}
                    {{!-- <td>{{this.email}}</td> --}}
                    <td class="estado"><a id="estado" href="/admin/tkt/{{this.id}}">{{this.estado}}</a></td>
                    <script>
                        var estado = document.querySelectorAll("a#estado");
                        estado.forEach(function(item,){
                            if(item.textContent === "abierto") item.style.color = "#ff000080"//red
                            if(item.textContent === "cerrado") item.style.color = "#002e00b3"//green
                            if(item.textContent === "cancelado") item.style.color = "#ffff0080"//yellow
                        })
                    </script>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    <div class="back">
        <a href="/"><i class="fa-solid fa-left-long"></i><strong>SALIR</strong></a>
    </div>

</body>
</html>