<!DOCTYPE html>
<html lang="en">

{{> head}}

<body>
    <h1>Welcome to SysTick</h1>
    <div class="admin-div">
        <table class="admin-table">
            <thead class="table-head">
                <th>Ticket N°</th>
                <th>Asunto</th>
                <th>Nombre</th>
                {{!-- <th>Telefono</th> --}}
                {{!-- <th>Mail</th> --}}
                <th>Estado</th>
            </thead>

            <tbody class="table-body">
                {{#each tickets}}
                <tr>
                    <td>{{this.ticket}}</td>
                    <td>{{this.asunto}}</td>
                    <td>{{this.nombre}}</td>
                    {{!-- <td>{{this.telefono}}</td> --}}
                    {{!-- <td>{{this.email}}</td> --}}
                    <td style="text-transform:uppercase;"><a href="/tkt/{{this.id}}">{{this.estado}}</a></td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</body>
</html>